/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
 
  margin-left:450px;
  margin-right:450px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header  {
  text-align: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
border: 2px solid #003049;
  border-color: #003049;
  border-style: solid;
  border-width: 2px;
}
.image-circle {
  border-radius: 50%;
  border: #003049;
}


/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

/* My code */

.header-section {
  display: flex;
  direction: column;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.bio-row {
  display: flex;
  align-items: flex-start; 
  justify-content: center;
  gap: 20px;
}

.bio-img {
  width: 200px;
  border-radius: 50%;
}


.bio-heading {
  text-align: center;
}

.bio-content {
  text-align: left;
  margin: 0;
}

.portfolio-header
{text-align: center;}



.portfolio-box {
  display: flex;
}

.abstract-red {
   display: flex;
   flex-direction: column;
}

.spiral-zany {
  display: flex;
   flex-direction: column;
}

.melted-rainbow {
  display: flex;
   flex-direction: column;
}


#contact
{
  text-align :left;
}
